doctype
html(lang='es')
   head
      link(rel="preload" href="css/styles.min.css" as="style")
      meta(charset='utf-8')
      link(rel="shortcut icon" href="img/logo.png" type="image/x-icon")
      title OXXO 
      link(rel="stylesheet" href="css/bootstrap.min.css") 
      link(rel="stylesheet" href="css/styles.min.css") 
      script(src="js/jquery-3.4.1.min.js") 
      script(src="js/bootstrap.min.js") 
      script(src="js/scripts.min.js") 

      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

   body
      main.homeSuavel.typSuavel.legales
         section.homeSuavel--hero
            .container 
               .row.justify-content-center
                  .col-lg-12
                     a(href="/") 
                        img.img-fluid(src="img/CONCURSO.png" alt="")
                  
                     .typSuavel--caja.d-flex
                        h1 Términos y Condiciones
                        h4 
                           b Nombre de la promoción:
                           | EN OXXO GANAR UN AUTO ESTÁ SUAVEL.
                        br
                        h4 
                           b Bien o servicio a promocionarse:
                        
                        ul

                           li 1.- Papel higiénico marca Suavel MR paquete de 4 rollos de papel con 247 hojas dobles cada uno (código 4x 247).
                           li 2.- Papel higiénico marca Suavel MR paquete de 4 rollos de papel con 300 hojas dobles cada uno (código 4x300).
                           li 3.- Papel higiénico marca Suavel MR., paquete de 6 rollos de papel con 234 hojas dobles cada uno (código 6x234).
                           li 4.- Servilletas marca Suavel MR., paquete con 180 piezas.
                        br
                        h4 
                           b Incentivo que se ofrece:
                           | Al ganador del concurso se le entregará 1 vehículo de las siguientes características:
   
                        h4 MARCA: NISSAN
                        h4 MODELO: MARCH SENSE T/M 
                        h4 AÑO MODELO: 2021
                        h4 COLOR: CUALQUIER COLOR

                        h4 El incentivo se entregará al ganador del concurso dentro de los 15 días siguientes a su elección, en el domicilio de la elección del ganador o en la concesionaria Nissan de su localidad.
                        br
                        
                        h4 La cantidad mínima para participar en el concurso es adquirir 1 (un) producto de los señalados en el anexo 1, sin limitaciones al máximo.
                        br

                        h4 
                           b Establecimiento donde se realizarán las promociones:
                           | Todas las tiendas Oxxo de la República Mexicana
                        br

                        h4 
                           b Plazo para la entrega de los premios:
                           | El plazo para recoger el premio será de 10 días naturales
                        
                        br

                        h4 
                           b Lugar y horario de entrega de los premios:
                           | 1 de julio de 2021, Torre Eucalipto, Bosque de Lomas Verdes 80, Lomas Verdes 1ra sección, C.P. 53120, Naucalpan de Juárez, Edomex
                        br
                        h4 
                           b Condiciones para la obtención de oportunidad de participación:
                        ul
                           li 1) Adquirir en alguna de las tiendas Oxxo de la República Mexicana, uno de los bienes promocionados señalados en el anexo 1, sin limitaciones al máximo de compras para participación; 2) Registrar sus datos y tickets de compra  en www.oxxo.com/concursos/suavel;  e indicar en un frase de máximo 150 caracteres por qué amas Suavel MR; 3) El registro realizado se convierte en una oportunidad de participación para el concurso 
                        br
                        h4 
                           b Mecánica:
                        
                        ul
                           li a) Una vez realizado el registro en la página www.oxxo.com/concursos/suavel, la frase de cada  participante registrado entrará al concurso. b) Se integrará un jurado conformado por representantes de la marca Suavel MR, el jurado se conforma por las personas indicadas en el anexo 3.  c) El día 17 de junio de 2021 en el lugar, fecha y hora que se señala en el anexo 4, el jurado seleccionará de entre todas las frases concursantes la que considere mejor.  d) La frase seleccionada ganará el concurso y se le entregará el premio descrito en el anexo 1. e)Entregar identificación oficial y RFC

                        
                  
                  .col-12.homeSuavel--sesion--footer
                     h6 (1)Promoción válida del 22 de abril al 16 de junio del 2021.(2)Consulta términos y condiciones en www.oxxo.com/concursos/suavel. Imágenes sólo de uso ilustrativo.
                     
                     h6.mt-4 
                        b Profeco Folio: PFC.C.A./000230-2021